html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.margin{
  margin-left: 10px !important;
}

.padding{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.completed{
  background-color: #e8e8e8;
  transition-duration: .5s;
  color: #4a4a4a;
}

.strikethrough{
  z-index: 5 !important;
  display: initial;
  position: absolute;
  color:black;
  top: 50%;
  width: 120%;
  margin: 0 auto;
  opacity: 1;
}

.nostrikethrough{
  display: none;
}

.wrap{
  max-width:200px;
  word-wrap:break-word;
}